body{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-family: serif;

}
.main{
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
}
#header{
    display: flex;
    background-color:rgb(255, 255, 255);
    position:sticky;
    top: 0px;
    /* position:fixed; */
    top: 3px;
    height: 4rem;
    width:94%;
    justify-content:space-between;
    padding: 10px 70px 0 40px;
    align-items: center;
    text-decoration: solid;
    font-size:xx-large;
    z-index: 2;
}

.logo{
    display: flex;
    justify-content:end;
    align-items: center;
}
img{
    height: 45px;
    width: auto;
    padding-right: 6px;
}
#btn{
    border: none;
    border-left:50px;
    border-radius: 10px;
    padding: 14px 46px;
    background-color:#EE6043 ;
    color: antiquewhite;
    font-size: 16px;
    font-weight:500;
}
.login{
    display: flex;
    align-items: center;
    font-size:20px;
}
.login h4{
  margin-right: 20px;
  font-size: 20px;
  font: optional;
  font-weight: 500;
}
.content{
    display: flex;
    height: auto;
    /* justify-content: space-around; */
    padding-left: 40px;
    width: 100%;
    background-color:rgb(243, 241, 240);
    padding-top: 74px;
}   
.name{
    height: 500px;
    width: 550px;
}
.image{
    margin-left: 30px;
    height: 400px;
    width: 660px;
    background-image: url(photo.jpeg);
    background-size: cover;
    border-radius: 30px;
}
.name h1{
    font-size:55px;
}
.name p{
    margin-top: 20px;   
    padding-top: 20px;
    font-size:20px;
    font-weight:lighter;
}
.login a{
    text-decoration: none;
    color: black;
}
